/* base styles */
body {
  background: #f0ebfa;
  color: #63768D;
  margin: 2rem;
}

h1,
h2 {
  font-weight: 700;
  color: #36213E;
  font-size: 1.125rem;
}

main {
  max-width: 64rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

main > h2 {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

p > a {
  color: #554971;
}

/* nav styles */
nav {
  padding-bottom: 1rem;
  border-bottom: 2px solid #e5e7eb;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 64rem;
}

nav a,
nav span {
  color: #63768D;
}

nav a:hover {
  color: #36213E;
}

main nav {
  border: 0;
}

/* button styles */
button {
  padding: 0.5rem 0.75rem;
  border-radius: 0.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  width: fit-content;
}

button:hover {
  opacity: 0.9;
}

.btn-primary {
  background: #554971;
  color: white;
  font: inherit
}

.btn-secondary {
  background: #e5e7eb;
  color: #36213E;
}

/* form styles */
form {
  padding: 1rem 1.75rem;
  background: rgba(85, 73, 113, 0.05);
  border-radius: 0.375rem;
  display: block;
  margin: 0 auto;
  min-width: fit-content;
  width: 25%;
}

form label {
  display: block;
}

form input,
form textarea,
form select {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.125rem;
  width: 100%;
}

form button {
  display: block;
  margin: 0 auto;
}

/* feedback styles */
.error {
  border: 2px solid #ef4444;
  background: #fca5a5;
  color: #991b1b;
  padding: 0.25rem 0.5rem;
  border-radius: 0.125rem;
  display: block;
  max-width: fit-content;
  margin: 1rem auto;
}

/* card styles */
.card {
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 0.375rem;
  padding: 0.75rem 1rem;
  margin: 1rem 0;
  position: relative;
  overflow: hidden;
}

.card h3 {
  font-weight: 700;
  color: #36213E;
  font-size: 0.875rem;
  margin-bottom: 0;
}

.card p {
  margin: 1rem 0;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

/* pill styles */
.pill {
  padding: 0.25rem 0.5rem;
  margin-top: 0.75rem;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 600;
}

.pill.high {
  background: #fca5a5;
  color: #dc2626;
}

.pill.medium {
  background: #93c5fd;
  color: #2563eb;
}

.pill.low {
  background: #6ee7b7;
  color: #059669;
}

.card .pill {
  position: absolute;
  bottom: 0;
  right: 0;
  border-top-left-radius: 0.375rem;
}